<section class="top">
  <div class="">
    <div class="row no-gutters">
      <div class="col-10 col-sm-8">
        {% include dropdown-lang.html %}
      </div>
      <div class="col-2 col-sm-4">
        <ul class="nav">
          <li class="nav-item ml-auto"><a class="nav-link retailerLogin" href="https://collection.sprox.com/en/login" rel="external"><i class="fas fa-lock"></i>
            <span class="d-none d-sm-inline">{{ site.data.translate.t['retailer_login'][page.lang] }}</span></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>