---
layout: default
title: About us
lang: en
ref: about
---

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6 order-2 order-md-1">
        <div class="block">
          <div class="block-body">
            <p class="lead">At SPROX, we love shoes! That is why we gathered a team of passionate European shoe designers, trend watchers and real footwear specialists to offer you a fashion-inspired collection of feel-good footwear for the whole family.</p>
            <p>By combining our shoe knowledge with fashion input from all over the world, all SPROX shoes are designed with the utmost care for style &amp; comfort. As we control the whole process from the first drawing until the final distribution, we can keep our prices low while maintaining high quality standards. From the first steps of your little one, to fashion-inspired pumps for your next night out. From easy-to-wear sneakers for an exciting day in the city, to stylish business shoes for when it matters. From trendy runners for an active lifestyle, to cozy sandals for endless walks on the beach: SPROX offers you a collection of shoes you will love. Let us know what you think by sharing your thoughts on Facebook &amp; Instagram with #SPROX and #Ilovemyshoes.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 order-1 order-md-2">
        <div class="card">
          <div class="title-float left">
            <div class="title-table">
              <div class="title-table-cell">
                <h1 class="h3">About us</h1> </div>
            </div>
          </div> 
          <img class="card-img-top" src="{{site.baseurl}}/img/about.jpg">
          <div class="card-img-square bottom left" style="background-color: {% include color.html %};"></div>
        </div>
        <h2 class="h1 text-center py-5 my-3">For each season</h2> </div>
    </div>
  </div>
</section>

{% include hero.html type="inline" image="hero1.jpg" %}