---
layout: cover
title: Register
lang: en
ref: register
---

{% include hero.html type="top" image="register.jpg" title="become a SPROX retailer" %}

<h1 class="d-none">{{page.title}}</h1>

<section>
  <div class="container">
    <div class="row pb-4">
      <div class="col">
        <h2>Great to see you have interest in SPROX! </h2>
        <p>Our aim is to ensure that we can offer retailers larger sales volumes and high profits and that we can offer consumers the full SPROX brand experience.</p>
        <p class="lead">Do you also want to be part of Sprox and become a retailer?<br /> Sign up quickly and our sales will answer you soon. </p>
      </div>
    </div>
    
    {% include _forms/form-register.html %}
    
  </div>
</section>