---
layout: cover
title: Sprox
lang: cn
ref: homepage
---

<h1 class="d-none">{{page.title}}</h1>

<!-- COVER DESKTOP -->
<section class="cover d-none d-sm-block">
  <div class="cover-img">
    {% include cover-desktop.html url="/catalog/girls" title="girls" price="€ 24,95" color="#c19f99" text="女孩鞋" %}
    {% include cover-desktop.html url="/catalog/ladies" title="ladies" price="€ 29,95" color="#D8CEC1" text="女鞋" %}
    {% include cover-desktop.html url="/catalog/boys" title="boys" price="€ 29,95" color="#ABC5D6" text="男孩" %}
  </div>
</section>

<!-- COVER MOBILE -->
<section class="d-sm-none cover-mobile">
  <div class="row no-gutters">
    {% include cover-mobile.html url="/catalog/ladies" image="mob1.jpg"  title="ladies" text="女鞋" price="€ 29,95" color="#dac6af" %}
    {% include cover-mobile.html url="/catalog/girls" image="mob2.jpg"  title="girls" text="女孩鞋" price="€ 24,95" color="#dab6c5" %}
    {% include cover-mobile.html url="/catalog/men" image="mob3.jpg"  title="men" text="男鞋" price="€ 44,95" color="#9a9a92" %}
    {% include cover-mobile.html url="/catalog/boys" image="mob4.jpg"  title="boys" text="男孩" price="€ 29,95" color="#95a4b3" %}
  </div>
</section>

<!-- TRENDS -->
<section class="trends py-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        {% include card-trend-image.html  text="好看的卡其色" image="trend1.jpg" url="/product/SX392719/KHA" text-align="right" %}
      </div>
      <div class="col-lg-6">
        {% include card-trend-product.html text="漂亮的女士高跟鞋" price="€ 44,95" image="trend2.jpg" url="/product/SX392719/KHA" text-align="right" %}
      </div>
    </div>
    <div class="row slogan text-center">
      <div class="col-12 col-md-7 offset-md-4 mt-2 mb-5">
        <div class="square d-none d-md-block" style="background-color: {% include color.html %};"></div>
        <h2 class="h1">SPROX鞋子让你与时尚更近</h2> </div>
    </div>
    <div class="row">
      <div class="col-lg-6 order-1 order-lg-2">
        {% include card-trend-image.html  text="金属亮面" image="trend3.jpg" url="/product/SX003539/SIL" text-align="left" %}
      </div>
      <div class="col-lg-6 order-2 order-lg-1">
        {% include card-trend-product.html text="时尚芭蕾舞款女孩系列" price="€ 29,95" image="trend4.jpg" url="/product/SX003539/SIL" text-align="left" %}
      </div>
      
    </div>
  </div>
</section>

{% include hero.html type="inline" image="hero3.jpg" title="冬季必备" %}

<!-- CURATOR -->
<section class="curator py-5">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h2 class="h3">SPROX voor iedereen<span></span></h2>
        <p>deel je SPROX beleving via sociale media</p>
        <p class="social"><a href="https://www.facebook.com/sprox" rel="external"><span class="fab fa-facebook-square fa-2x"></span></a> <a href="https://www.instagram.com/sprox_official" rel="external"><span class="fab fa-instagram fa-2x"></span></a></p>
        <div id="curator-feed-sprox-b2c-2018"></div>
      </div>
    </div>
  </div>
</section>

<!-- REVIEWS -->
<section class="img-hero py-5 m">
  <img src="{{site.baseurl}}/img/hero4.jpg" class="img-fluid">
  <div class="reviews-float">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card-group">
            {% include card-review.html text="我真的非常喜欢这些鞋子，太舒适了，在室外我整天都会穿着它们。 很多人都对我说鞋子的款式也非常好看。" author="Jennifer, 来自德国柏林" class="one" %}
            {% include card-review.html text="我给我妈妈买了这些鞋子，她太喜欢了！她说穿上这些鞋子真的太舒服了而且她也会推荐给她的朋友们。" author="Ana, 来自巴西圣保罗" class="two" %}
            {% include card-review.html text="这些鞋子太棒了，中底非常舒适。穿上脚后也显得特别漂亮， 我马上又多订了一双！" author="Rachel, 来自英国伦敦" class="three" %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- WORLD -->
<section class="world py-5">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h2 class="h3">SPROX在全球的零售<span></span></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-5 order-2 order-md-1">
        <div class="card card-world">
          <div class="card-body">
            <div class="card-square" style="background-color: #D8AFAC;"></div>
            <h4 class="card-title">来自欧洲的设计，在全球50多个国家销售</h4>
            <p class="card-text">欧洲风格女鞋，男鞋和童鞋。 内部拓展的销售素材用于突显我们鞋款系列。 优化演示的模块化元素。</p>
            <p> <a href="https://collection.sprox.com/en/login" class="btn btn-primary pink" target="_blank">成为SPROX 零售商</a> </p>
            <p> <a href="{{site.baseurl}}/{{page.lang}}/wo-men-wu-chu-bu-zai" class="btn btn-outline-primary">我们无处不在</a> </p>
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-md-7 order-1 order-md-2"> <img src="{{site.baseurl}}/img/world.png" alt="world" class="img-fluid pt-4"> </div>
    </div>
  </div>
</section>